bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Secrets
secrets.json

# Ignore Visual Studio & Rider files
.vscode/
.idea/
*.csproj.user

# Ignore environment files
.env
*.db
*.sqlite

# Ignore published output
publish/
